streamlit>=1.42.2
openai>=1.63.2
langchain>=0.3.19
python-dotenv>=1.0.1
pandas>=2.2.3
PyPDF2>=3.0.1
matplotlib>=3.10.0
zhipuai>=2.1.5.20250106
langchain_openai>=0.3.6
pdfplumber>=0.11.5
docx==0.2.4
python-docx>=3.0.0