.box {
    /* width: 866px; */
    /* height: 320px; */
    border-radius: 0px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.box_l {
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url("../img/bj.png");
    background-size: 100% 100%;
    /*background: rgba(16, 22, 32, 0.4);*/
    border-radius: 10px 10px 10px 10px;
    border: 1px solid rgba(112, 161, 205, 0.6);

}

::-webkit-scrollbar {
    width: 6px;
    /* 对于Webkit浏览器，设置滚动条的宽度 */
}

::-webkit-scrollbar-thumb {
    background-color: #3474dd;

    /* 设置滚动条的颜色 *
    border-radius: 3px;
    /* 设置滚动条的圆角 */
}

::-webkit-scrollbar-track {
    background-color: #1b4d9d;
    /* 设置滚动条轨道的颜色 */
}

.box_content {
    padding: 0 25px;
    overflow-y: auto;
    height: 280px;
    margin-top: 10px;
}

.box_content>div {
    margin-bottom: 10px;
    overflow: hidden;
}

.user-input-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
}

.assistant-input-wrapper {
    /* display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-bottom: 15px; */
    display: grid;
    justify-content: start;
    flex-wrap: wrap;
    margin-bottom: 15px;
}
.imgurls{
    display: flex;
    justify-content: flex-end;
}
.assistant-input-wrapper>div,
.user-input-wrapper>div {
    display: flex;
}

.box_r {
    position: absolute;
    bottom: 0;
    right: 0;
}

.box_l .icons {
    vertical-align: middle;
}
.person1 {
    line-height: 32px;
    background-color: #1a4581;
    border-radius: 20px 20px 20px 0px;
    display: inline-block;
    padding: 0 15px;
}
.person {
    font-size: 14px;
    color: #ffffff;
}

.active {
    font-size: 14px;
    color: transparent;
    background-image: linear-gradient(to right, #ffffff, #ffffff, #ffffff);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-size: 100% 100%;
    animation: bg 1s linear;
    position: relative;
}
@keyframes bg {
    0% {
        background-size: 0% 100%;
    }
    100% {
        background-size: 100% 100%;
    }
}

.person2 {
    line-height: 32px;
    /*background: rgba(255, 255, 255, 0.8);*/
    background-color: #16a8a6;
    border-radius: 20px 20px 0px 20px;
    display: inline-block;
    padding: 0 15px;
    font-size: 14px;
    color: #ffffff;
}

.jxr_bth {
    font-family: PingFang SC, PingFang SC;
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
    line-height: 16px;
    text-align: left;
    font-style: normal;
    text-transform: none;
    display: flex;
    margin:10px 0;

    justify-content: center;
}

.jxr_bth div {
    margin-right: 12px;
}

.jxr_bth div:first-child {
    padding: 0 5px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background: linear-gradient(90deg, #42E0E8 0%, rgba(255, 255, 255, 0.6) 100%);
    border-radius: 4px 4px 4px 4px;
    border: 1px solid;
    border-image: linear-gradient(90deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.1)) 1 1;
}

.jxr_bth div:nth-child(2) {
    padding: 0 5px;
    text-align: center;
    line-height: 40px;
    height: 40px;
    background: linear-gradient(90deg, #4D74FF 0%, rgba(255, 255, 255, 0.6) 100%);
    border-radius: 4px 4px 4px 4px;
    border: 1px solid;
    border-image: linear-gradient(90deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.1)) 1 1;
}

.jxr_bth div:last-child {
    padding: 0 5px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background: linear-gradient(90deg, #23FFD7 0%, rgba(255, 255, 255, 0.6) 100%);
    border-radius: 4px 4px 4px 4px;
    border: 1px solid;
    border-image: linear-gradient(90deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.1)) 1 1;
}

.inputContainer {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    /*border-top: 1px solid #e7e9ed;*/
    border-top: 1px solid #ffffff4f;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /*height: 60px;*/
    height: 95px;
    padding: 0 21px;
    position: relative;
}

.icon-keyboard {
    border: 2px solid #1676ff;
    position: relative;
}

.icon-display {
    border-radius: 100%;
    cursor: pointer;
    height: 34px;
    margin-left: 16px;
    width: 34px;
}

.icon-keyboard i {
    background: url("../img/icon1.png") 50% / 100% no-repeat;
    display: inline-block;
    height: 16px;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 18px;
    z-index: 1;
}

.speak-control-wrap {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.speak-control.active {
    background: rgba(231, 233, 237, .5);
    background: url('../img/download1.gif') 50% / 45% no-repeat;
    border: 1px solid #1676ff;
    border-radius: 16px;
    cursor: pointer;
}

.speak-control.input {
    line-height: 25px;
    padding: 0 20px;
    text-align: left;
    border: 0px solid transparent;
    margin-left: 10px;
}

.speak-control {
    -webkit-box-flex: 1;
    /*background: rgba(231, 233, 237, .5);*/
    background-image: url("../img/wkbj.png");
    background-size: 100% 100%;
    /*border: 1px solid transparent;*/
    border: 1px solid #40a5f2;
    /*border-radius: 4px;*/
    border-radius: 15px;
    /*color:#4e4e58;*/
    color: #ffffff;
    -ms-flex: 1;
    flex: 1;
    font-size: 14px;
    font-weight: 400;
    height: 32px;
    line-height: 32px;
    text-align: center;
    padding: 10px 10px 15px 0px;
}

.icon-send {
    background-color: #1676ff;
    border: 2px solid #1676ff;
    position: relative;
}

.icon-display {
    border-radius: 100%;
    cursor: pointer;
    height: 34px;
    margin-left: 16px;
    width: 34px;
    z-index: 100;
}

/*.icon-display {*/
/*  border-radius: 100%;*/
/*  cursor: pointer;*/
/*  height: 34px;*/
/*  margin-left: 16px;*/
/*  width: 34px;*/
/*}*/

.icon-send i {
    background: url('../img/send1.png') 50% / 100% no-repeat;
    display: inline-block;
    height: 19px;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 19px;
    z-index: 1;
}

.icon-voice i {
    background: url('../img/send2.png') 50% / 100% no-repeat;
    display: inline-block;
    height: 14px;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 19px;
    z-index: 1;
}

.icon-voice {
    border: 2px solid #1676ff;
    position: relative;
}

.icon-display {
    border-radius: 100%;
    cursor: pointer;
    height: 34px;
    margin-left: 16px;
    width: 34px;
}

.speak-control.input:focus {
    outline: none;
    border: none;
    /* 可选，如果你还想去除输入框的边框 */
    line-height: 25px;
    padding: 0 20px;
    text-align: left;
}

.loading {
    display: block;
    font-size: 50px;
    left: 48%;
    position: absolute !important;
    top: 30%;
}
.el-table tr {
    background-color: #1a4581 !important;
}
.el-table td.el-table__cell, .el-table th.el-table__cell.is-leaf {
    border-bottom: 1px solid #265ca8 !important;
}
.el-table--border, .el-table--group {
    border: 1px solid #265ca8 !important;
}
.el-table--border .el-table__cell, .el-table__body-wrapper .el-table--border.is-scrolling-left~.el-table__fixed {
    border-right: 1px solid #265ca8 !important;
}
.el-table--border::after, .el-table--group::after, .el-table::before {
    content: '';
    position: absolute;
    background-color: #265ca8 !important;
    z-index: 1;
}
.el-table thead {
    color: #ffffff !important;
    font-weight: 500;
}
.el-table {
    color: #fff;
}

.el-table th.el-table__cell {
    background-color: #12376a!important;
}
.el-table__body tr:hover>td{
    background-color: #1a4581 !important;
}
.speak-control-tcp {
    background-image: url("../img/nkbj.png");
    background-size: 1000%;
    height: auto;
    width: 80%;
    margin: 0 auto;
    border-radius: 20px;
    cursor: pointer;
}
.box-conter {
    -webkit-box-flex: 1;
    /*background: rgba(231, 233, 237, .5);*/
    background-image: url("../img/wkbj.png");
    background-size: 100% 100%;
    /*border: 1px solid transparent;*/
    border: 1px solid #40a5f2;
    /*border-radius: 4px;*/
    border-radius: 15px;
    /*color:#4e4e58;*/
    color: #ffffff;
    -ms-flex: 1;
    flex: 1;
    font-size: 14px;
    font-weight: 400;
    height: 32px;
    line-height: 32px;
    text-align: center;
    padding: 10px 10px 15px 0px;
    display: flex;
}

