<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>机器人</title>
    <!-- 引入ElementUI样式 -->
    <link rel="stylesheet" href="static/css/eleindex.css" />
    <link rel="stylesheet" href="static/css/index.css" />
    <!-- 引入ElementUI组件必须先引入Vue -->
    <script src="static/js/vue@2.js"></script>
    <!-- 引入ElementUI组件库 -->
    <script src="static/js/eleindex.js"></script>
    <!-- 引入刚刚下载的 ECharts 文件 -->
    <script src="static/js/echarts.min.js"></script>
    <script src="static/js/axios.min.js"></script>
    <script src="static/js/crypto-js.min.js"></script>
    <!-- <script src="static/js/transcode.worker.js"></script> -->
    <script src="static/js/xf-voice-dictation.js"></script>
    <script src="static/js/request.js"></script>
    <!-- 语音插件 -->
    <script src="static/js/base64.js"></script>
    <script src="static/js/crypto-js.js"></script>
    <script src="static/js/index.umd.js"></script>
  </head>

  <body>
    <div id="app">
      <div class="box">
        <div class="box_l" :class="{'longBox':isShowLong}">
          <div
            class="box_content"
            :class="{'longBox_content':isShowLong}"
            ref="conversationList"
          >
            <!--引导语开始-->
            <div class="guide">
              <div class="guide-avatar">
                <img
                  src="static/img/test2.png"
                  alt="头像"
                  style="width: 100%; height: 100%"
                />
              </div>
              <div class="guide-text" style="margin-left: 16px">
                <img
                  src="static/img/DialogBox/hyy.png"
                  alt="欢迎语"
                  style="width: 100%; height: 100%"
                />
              </div>
            </div>

            <div class="content_l" v-if="isArray">
              <span
                class="loading"
                v-if="isLoading"
                v-loading="isLoading"
                element-loading-text=""
                element-loading-spinner="el-icon-loading"
              ></span>
              <template v-for="(item, index) in conversationArray" :key="index">
                <div v-if="item.role === 'user'" class="user-input-wrapper">
                  <div>
                    <span class="person2">{{item.content}}</span>
                    <img
                      src="static/img/test1.png"
                      class="icons"
                      style="margin-left: 5px; width: 46px; height: 32px"
                    />
                  </div>
                </div>
                <div v-else class="assistant-input-wrapper">
                  <div style="justify-content: flex-start">
                    <img
                      src="static/img/test2.png"
                      class="icons"
                      style="margin-right: 5px; width: 46px; height: 32px"
                    />
                    <div class="person1">
                      <div class="person">
                        <span :class="{ 'active': item.isActive}"
                          >{{item.content}}</span
                        >
                        <div
                          style="
                            display: flex;
                            justify-content: right;
                            align-items: center;
                          "
                        >
                          <div
                            style="width: 30px; height: 30px; cursor: pointer"
                          >
                            <img
                              src="static/img/laba.png"
                              alt=""
                              style="width: 100%; height: 100%"
                            />
                          </div>
                          <div
                            @click="allData"
                            style="font-size: 12px; cursor: pointer"
                            id="pageButton"
                          >
                            点击关闭播报
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </template>
            </div>
          </div>
          <div class="inputContainer">
            <!--修改版开始-->
            <div class="Dialogue" :class="{'no-events-div':isShowMessage}">
              <div class="Dialogue-nei">
                <div
                  class="Dialogue-nei-all"
                  style="display: flex; align-items: center"
                >
                  <div class="Dialogue-nei-all-input">
                    <input
                      placeholder="您有什么问题可以咨询我哦～"
                      autocomplete="off"
                      class="speak-control input"
                      v-model="textvalues"
                      id="textarea"
                      @keyup.enter="sendext"
                      style="background: transparent; width: 97%"
                    />
                  </div>
                  <div class="Dialogue-nei-all-but">
                    <!--语音开始-->
                    <!--右侧第一部分开始-->
                    <div v-if="istext" class="Dialogue-nei-all-but-yin">
                      <img
                        src="static/img/DialogBox/yy2.gif"
                        alt="语音"
                        style="width: 60px; height: 20px"
                      />
                    </div>
                    <!--右侧第二部分开始-->
                    <div
                      class="Dialogue-nei-all-but-Voice"
                      style="margin-left: 20px"
                      v-if="isspeacks"
                    >
                      <img
                        src="static/img/DialogBox/yy1.png"
                        alt="语音"
                        style="width: 22px; height: 22px"
                        @click="toggletext()"
                        id="volumeButton"
                      />
                    </div>
                    <div v-if="istext" style="margin-left: 50px">
                      <img
                        src="static/img/DialogBox/yy3.png"
                        alt="语音开始"
                        style="height: 20px; width: 20px"
                        @click="toggletext()"
                        id="volumeButton"
                      />
                    </div>
                    <!--语音结束-->
                    <div class="Dialogue-nei-all-but-line">|</div>
                    <button class="Dialogue-nei-all-button" @click="sendext()">
                      <div class="Dialogue-nei-all-button-icon">
                        <img
                          src="static/img/DialogBox/fs.png"
                          alt="发送"
                          style="width: 15px; height: 15px"
                        />
                      </div>
                      发送
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
